.video-upload .progress{
  border-radius: 0;
}

.video-block div{
  text-align: center;
}
.video-block .video-title{
  font-weight: bolder;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3em;
}
.video-block .video-author{
  font-size: smaller;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 1em;
}
.video-block .video-play-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;;
}
.video-block .video-play-container .video-play{
  position: absolute;
  font-size: x-large;
  padding: 0 !important;
  color: orange;
}
@media only screen and (min-width : 992px) {
  .video-block .video-play-container .video-play{
    display: none;
  }
}
.video-block:hover .video-play-container .video-play{
  display: block;
}
.video-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 13px;
}
.video-row img{
  width: 100%;
}
.video-block {
    padding: 2px;
}
.video-player>div>span,
.video-block>div{
  padding: 3px;
  background: lightgrey;
  border: 1px solid gray;
}
.video-block:hover>div{
    border-color: #00535f !important;
    background: #37bdbf !important;
    transition: all .2s;
}
.video-block:hover {
    transform: scale(1.01);
    transition: transform .2s;
    cursor: pointer;
}

.video-block.upload-new {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-block.upload-new span{
   font-size: xx-large;
   color:#00535E;
}
.video-block.upload-new:hover span{
   color:#37bdbf;
}
.file-upload-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.video-page{
  padding: 10px 0;
}
.video-player>div{
  display: flex;
  justify-content: center;
}
.video-player iframe{
  width: 100% !important;
}
.video-player>div>span{
  width: 100%;
}
.video-page .slick-slide img{
  width: 100%
}
.video-page .show-video-list{
  float: right;
  padding:0;
}
.video-page .video-button-container{
  display: flex;
  justify-content: start;
}
.video-button{
  padding: 0;
  font-size: xx-large
}
.video-page .video-button .glyphicon{
  padding-right: 5px;
}
@media only screen and (min-width : 992px) {
  .video-info.video-info-list-mode{
    display: none;
  }
}
.video-info.video-info-list-mode{
  position: absolute;
  color: white;
  background: black;
  width: calc(100% - 12px);
  bottom: 0;
  left: 0;
  margin: 5px 6px;
}
.video-block:hover .video-info.video-info-list-mode{
  display: block;
}
.video-carousel-row .video-carousel{
  position: initial;
}
.video-comment-container textarea{
  resize: none;
}
.comment-info .comment-author{
  font-weight: bold;
}
.comment-info .comment-date{
  padding-left: 5px;
  font-size: smaller;
  color: gray;
}
.comment hr {
  border : 0;
  height: 1px;
  margin-top: 0;
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.video-details-name{
  font-size: x-large;
  font-weight: bold;
}
.video-details-creator-label,
.video-details-description-label{
  font-weight: bold;
  padding-right: 5px;
}
.video-details-creator-name{
  padding-right: 5px;
}
.video-details-creation-date{
  font-style: italic;
  color: gray;
  font-size: small;
}
.video-delete-button{
  font-size: large;
  top: 0;
  position: absolute;
  padding: 6px;
}
.video-comment-count{
  position: absolute;
  z-index: 2;
  top: 3px;
  right: 7px;
}
.video-comment-count .video-comment-count-number{
  color: black;
  font-size: smaller;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  border: 1px solid black;
}
.comment-reply-button{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.comment .comment {
    padding-left: 20px;
}
.video-carousel .slick-list:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -5px;
  pointer-events: none;
  background-image: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255, 0));
  width: 5em;
  height: 100%;
}
.video-carousel .slick-list:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -5px;
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255, 0));
  width: 5em;
  height: 100%;
}
