.video-upload .progress{
  border-radius: 0;
}

.video-block div{
  text-align: center;
}
.video-block .video-title{
  font-weight: bolder;
  text-overflow: ellipsis;
    overflow: hidden;
}
.video-block .video-author{
  font-size: smaller;
  font-style: italic;
  text-overflow: ellipsis;
    overflow: hidden;
}
.video-block .video-play-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-block .video-play-container .video-play{
  position: absolute;
  font-size: x-large;
  padding: 0 !important;
  color: orange;
}
@media only screen and (min-width : 992px) {
  .video-block .video-play-container .video-play{
    display: none;
  }
}
.video-block:hover .video-play-container .video-play{
  display: block;
}
.video-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 13px;
}
.video-row img{
  width: 100%;
}
.video-block {
    padding: 2px;
}
.video-player>div>span,
.video-block>div{
  padding: 3px;
  background: lightgrey;
  border: 1px solid gray;
}
.video-block:hover>div{
    border-color: #00535f !important;
    background: #37bdbf !important;
}

.video-block.upload-new {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-block.upload-new span{
   font-size: xx-large;
   color:#00535E;
}
.video-block.upload-new:hover span{
   color:#37bdbf;
}
.file-upload-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.video-page{
  padding: 10px 0;
}
.video-player>div{
  display: flex;
  justify-content: center;
}
.video-player iframe{
  width: 100% !important;
}
.video-player>div>span{
  width: 100%;
}
.ytp-youtube-button svg{
  display: none;
}
.ytp-youtube-button::after {
    display: block;
    content: 'Liu';
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bolder;
}
.video-page .slick-slide img{
  width: 100%
}
.video-page .show-video-list{
  float: right;
  padding:0;
}
.video-page .video-button-container{
  display: flex;
  justify-content: start;
}
.video-button{
  padding: 0;
  font-size: xx-large
}
.video-page .video-button .glyphicon{
  padding-right: 5px;
}
@media only screen and (min-width : 992px) {
  .video-info.video-info-list-mode{
    display: none;
  }
}
.video-info.video-info-list-mode{
  position: absolute;
  color: white;
  background: black;
  width: calc(100% - 12px);
  bottom: 0;
  left: 0;
  margin: 5px 6px;
}
.video-block:hover .video-info.video-info-list-mode{
  display: block;
}
.video-carousel-row .video-carousel{
  position: initial;
}
