.card-block{
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  page-break-inside:avoid;
  float: left;
  width: 200px;
  margin: 5px;
}

.card-block .card-label{
  text-align: center;
  font-size: larger;
  border: 3px solid lightgray;
  border-style: outset;
  border-radius: 15px;
  padding: 2px 5px;
  margin-bottom: 10px;
  white-space: pre-wrap;
}
.card-line{
  border-bottom: 2px dotted #838383;
  margin: 2px -10px;
  white-space: normal;
  word-break: break-all;
}
.card-line.last-line{
  border-bottom: none;
  margin-bottom: -8px;
}
.card-line div{
  margin: 0 15px
}
.card-folder{
  cursor: pointer;
  font-size: large;
  color: white;
  padding: 5px 2px 5px 10px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  background: #00535f;
}
.card-folder .glyphicon{
  font-size: small;
  margin-right: 5px;
}
